header {
	text-align: center;
	background-image: url('../images/small_steps.png');
	background-size: auto;
	background-repeat: repeat;
	height: 200px;
	position: absolute top;
}
body {
	background-color: #FBFDFD; 
}
#profile{
	margin: 25px 0px 0px 25px;
	width: 150px;
	border-radius: 100%;
	float: left;
}
.content {
	margin-left: 180px;
	position:absolute;
    top: 210px;
    left:0px;
    right:0px;
    bottom:0px;
    overflow-y:scroll;        
}​
p {
	font-family: font-family: 'Libre Baskerville', serif;
	color: black;
	margin-right: 50px;
}
article {
	display: inline-block;
	max-width: 500px;
}
img {
	display: inline-block;
}
h1 {
	font-size: 100px;
	color: #black;
	font-family: 'Lato', sans-serif;
	margin-top: 50px;
	margin-left: 20px;
	float: left;
	/*background-color: rgba(0,0,0,.25)*/
}
h2 {
	color: #000;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 26px;
	text-align: left;
	margin-top: 40px;
	/*background-color: #fff;*/
}
h3 {
	color: #000;
	font-size: 20px;
	font-style: italic;
	margin: 10px 0px 0px 0px;
	font-family: 'Lato', sans-serif;
}
h4 {
	color: #000;
	margin: 10px 0px 0px 0px;
	font-family: "Franklin Gothic Medium", Arial, Sans-serif;
}
ul {
	margin: 0px;
}
#nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 150px;
    background-color: #a3e1b7;
    height: 100%;
    position: fixed;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}
li {
	list-style-image: url(../images/bullet.png) size;
}
li a {
	display: block;
	color: #000;
	padding: 8px 0px 8px 16px;
	text-decoration: none;
}
li a:hover {
	background-color: #555;
	color: white;
	font-weight: 900;
}

li a:active {
	background-color: #4CAF40;
	color: white;
}
#education {
      /*display: inline;*/
      padding: 0px 10px 0px 10px;
    }
.line-separator { 
	height:1px;
	background:#fff;
	border-bottom:1px solid #313030;
}
.institution {
	font-style: italic;
	color: #a3e1b7;
}
img.print-portfolio {
	max-width: 600px;
}

@media (max-width: 600px) {
  	h1 {font-size: 25px;}
  	header {height: 60px;}
  	h1 {height: 45px; padding-top: 15px;}
  	#nav-links {margin-top: 60px;}
  	#wrap {padding-top: 60px;}
  }